{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">About me</h5>
          <img src= "https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.0-9/65457827_2278213145600542_4787684277749809152_o.jpg?_nc_cat=104&ccb=2&_nc_sid=a4a2d7&_nc_eui2=AeF25zds6ONHfJ2rsUEa1TxLxGQPe_JwDMPEZA978nAMw8ZVn7ttHrpQZqa2fVwM_H7V8dcrCi8g07ZqPajpyaHv&_nc_ohc=8OLDautaCZgAX9hEUz_&_nc_ht=scontent.fbkk22-6.fna&oh=8d30757e64883e86ba2189a42c0529c2&oe=603C4BA4">
          </div>
        </div>
      </div>
      <div class="col-md-8">
         <div class="touch">
           <div class="card text-left">
             <div class="card-body">
               <h5 class="text-center">ข้อมูลส่วนตัว</h5>
               <p>ชื่อ : นางสาว ปรมาภรณ์ จันทร์วงษ์</p>
               <p>รหัสนิสิต : 62102010174</p>
               <p>เบอร์โทร : 0918716370</p>
               
               <a href="https://github.com/ParamapornJanwong"><i class="fab fa-github-square fa-6x"></i></a>
               <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram fa-6x"></i></a>
               <a href="https://www.facebook.com/nuttydnn"><i class="fab fa-facebook fa-6x"></i></a>
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}